<p (mouseover)="onMouseOver()">El valor de focus es: {{focus}}</p>

<p contentEditable="{{ contentEditable }}">Editar texto</p> <!-- Etiqueta p con contentEditable -->

<button (click)="toggleContentEditable()">
  {{ contentEditable ? 'Desactivar Edición' : 'Activar Edición' }}
</button>

<!-- Botón renderizado condicionalmente -->
<button *ngIf="focus" (click)="onClick()">
  Desactivar Focus y Mostrar CRUD
</button>

<!-- Sección de CRUD renderizada condicionalmente -->
<div *ngIf="showCrud">
  <h2>CRUD Operations</h2>
  <!-- Aquí puedes agregar tu lógica de CRUD -->
  <p>Aquí van las operaciones de creación, lectura, actualización y eliminación.</p>
</div>

<div>
  <h2>lista de cokemones</h2>
    <ul>
      <li *ngFor="let pokemon of pokemones; let i = index">
        {{pokemon.nombre}}({{pokemon.tipo}})
        <button (click)="borrarPokemon(i)">Borrar</button>
      </li>
    </ul>

  <form (ngSubmit)="addPokemon()" class="pokemon-form">
    <h3>Agregar Nuevo Pokémon</h3>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="newPokemon.nombre" name="nombre" required />

    <label for="tipo">Tipo:</label>
    <input type="text" id="tipo" [(ngModel)]="newPokemon.tipo" name="tipo" required />

    <button type="submit">Agregar Pokémon</button>
  </form>


</div>
